body {
    font-family: 'Celebes';
}

.selected {
    font-weight: bold;
}

#scrolling-container {
    width: 375px;
}

.ql-container {
    overflow-y: auto;
}

.my-qill {
    font-size: 17px;
    font-family: "Celebes";
    width: 100%;
}

.my-qill .ql-editor {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

.my-qill .ql-editor::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

citation {
    background-color: #ddd;
    text-decoration: underline;
}

#slide_content {
    height: 325px;
}

.global-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.global-container>* {
    flex-basis: 500px;
    /* flex: 1 0; */
    margin: 0 auto 0 auto;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(44, 109, 195, 0.62);
    z-index: 2;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}

.selected-layout {
    font-weight: bold;
    color: black;
    font-size: 1.25em;
}

.unselected-layout {
    font-weight: 400;
    color: #444;
    font-style: italic;
}

#lists_container {
    padding: 5px;
    min-width: 250px;
}

#sample-output-img {
    padding: 10px;
}

#output-img {
    border: solid;
}

#policyNotice {
    border: 2px solid #ccc !important;
    border-radius: 16px;
    padding: 16px;
    background-color: aqua;
}

#citation-search {
    width: 75%;
    position: sticky;
}

#citaitons-dropdown {
    position: absolute;
    background-color: #ddd;
    max-width: 400px;
    max-height: 500px;
    overflow: hidden;
}

#sources-container {
    scroll-behavior: smooth;
    overflow-y: auto;
    max-height: 500px;
    scroll-behavior: smooth;
    overflow-y: auto;
}

.citation-list-item {
    border: 1px solid #f3f3f3c0;
    max-height: 2.9em;
    overflow: hidden;
}